<div class="center">
  <div>
    Wybierz test :
    <select>
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
  </div>

  <div class="margin-top">
    Wybierz użytkownika :
    <select>
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
  </div>

  <div class="margin-top">
    <button class="main-editor-button" type="button">Sprawdź test</button>
    <button class="main-editor-button" type="button">Edytuj test</button>
  </div>
  <div class="margin-top">
    <button class="main-editor-button" type="button">Stwórz test</button>
    <button class="main-editor-button-delete" type="button">Usuń test</button>
  </div>
</div>
