<div class="authentication-form-wrapper ">
  <div *ngIf="!wasSent; else resetRequestSended">
    <form [formGroup]="passwordResetForm" class="material-form authentication-form">
      <div>
        <mat-form-field>
          <input matInput email formControlName="email" placeholder="Email">
          <mat-error *ngIf="passwordResetForm.get('email').hasError('required')">
            Email jest wymagany
          </mat-error>
          <mat-error *ngIf="passwordResetForm.get('email').hasError('email')">
            Podaj prawidłowy adres email
          </mat-error>
        </mat-form-field>
      </div>
      <div class="authentication-form-button">
        <button mat-button
                [disabled]="passwordResetForm.invalid || getProcessingReset()"
                type="submit" (click)="resetPassword()">Resetuj hasło</button>
      </div>

    </form>
  </div>
  <div>
    <ng-template #resetRequestSended>
      <span >
        Jeśli email jest poprawny hasło zostało wysłane.
      </span>
    </ng-template>
  </div>
</div>
