<div class="variant-container">
  <mat-error *ngIf="variants.length < 2">
    Musisz podać co najmniej 2 warianty odpowiedzi.
  </mat-error>
  <div class="variant-wrapper danger-button" *ngFor="let variant of variants; let i = index;" >
    <div class="input-wrapper">
      <input class="variant-input" [value]="variant.text" (input)="variant.text = $event.target.value">
      <mat-error *ngIf="variant.text.length === 0">
        Musisz podać odpowiedź
      </mat-error>
    </div>
    <div class="button-wrapper">
      <button class="variant-button" mat-button (click)="delete(i)">Usuń</button>
    </div>
    <div style="clear:both"></div>
  </div>
  <div class="full-width-button add-answer-button row">
    <div class="col-md-8"></div>
    <button mat-button class="col-md-4"(click)="add()">Dodaj odpowiedź</button>
  </div>

</div>
