.test-question-answer-container {
  background-color: var(--background-secondary-color);
  margin-bottom: 15px;
  padding: 10px;
}

.question {
  margin-bottom: 10px;
}
.answer {
  padding-bottom: 5px;
}
