<div class="user-password-change-wrapper">
  <form [formGroup]="passwordChangeForm" class="material-form full-width-form">
    <div>
    <mat-form-field>
      <input matInput formControlName="oldPassword" type="password" placeholder="Stare hasło">

      <mat-error *ngIf="passwordChangeForm.get('oldPassword').hasError('required')">
        Stare hasło jest wymagane
      </mat-error>
      <mat-error  *ngIf="passwordChangeForm.get('oldPassword').hasError('minlength')">
        Stare hasło musi zawierać co najmniej {{minPasswordLength}} znaków.
      </mat-error>
      <mat-error *ngIf="passwordChangeForm.get('oldPassword').hasError('maxlength')">
        Stare hasło może zawierać maksymalnie {{maxPasswordLength}} znaków.
      </mat-error>
    </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput formControlName="newPassword" type="password" placeholder="Nowe hasło">

        <mat-error *ngIf="passwordChangeForm.get('newPassword').hasError('required')">
          Hasło jest wymagane.
        </mat-error>
        <mat-error *ngIf="passwordChangeForm.get('newPassword').hasError('minlength')">
          Hasło musi zawierać co najmniej {{minPasswordLength}} znaków.
        </mat-error>
        <mat-error *ngIf="passwordChangeForm.get('newPassword').hasError('maxlength')">
          Hasło może zawierać maksymalnie {{maxPasswordLength}} znaków.
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput formControlName="confirmNewPassword" type="password"
               placeholder="Potwierdź nowe hasło" [errorStateMatcher]="errorMatcher">

        <mat-error *ngIf="passwordChangeForm.get('confirmNewPassword').hasError('required')">
          Musisz potwierdzić hasło.
        </mat-error>
        <mat-error *ngIf="passwordChangeForm.hasError('matchPassword')">
          Hasła są różne
        </mat-error>
      </mat-form-field>
    </div>
    <div class="full-width-button">
      <button mat-button
              [disabled]="passwordChangeForm.invalid || passwordChangeForm.errors || getProcessingChange()"
              type="submit" (click)="changePassword()">
              Zmień hasło</button>
    </div>

  </form>
</div>
