.resolve-test-container {
  margin-bottom: 20px;
}
.question {
  margin-bottom: 10px;
}
.answer  {
  padding: 10px;
}
.open-input {
  width: 70%;
}
.send-button {
  margin-top: 20px;
}
.question-answer-container {
  background-color: var(--background-secondary-color);
  margin-bottom: 15px;
  padding: 10px;
}
