<div class="center moderator-page-container">

  <div class="margin-top">
    <h1>Moje testy</h1>
    <app-all-tests [redactor]="'true'"></app-all-tests>
  </div>
  <div class="row material-form full-width-button">
    <div class="margin-top col-md-6">
    </div>
    <div class="material-form margin-top col-md-6">
      <button mat-button class="main-editor-button" (click)=onCreateTestButtonClick()
              type="button">
        Stwórz test
      </button>
    </div>
  </div>
  <div class="positions-container">
    <h1>Stanowiska</h1>
    <app-positions-edit></app-positions-edit>
  </div>
</div>
