.danger-button .mat-button:not([disabled]) {
  background-color: var(--error);
}
.full-width-form .mat-form-field  {
  width: 100%;
}
.full-width-button .mat-button {
  width: 100%;
}
.big-button .mat-button {
  width: 75%;
}
.medium-button .mat-button {
  width: 50%;
}
.small-button .mat-button {
  width: 25%;
}
