.material-form .mat-form-field-underline  {
  background-color: var(--primary-text-color);
}
.material-form .mat-focused .mat-form-field-ripple {
  background-color: var(--main-color);
}
.material-form .mat-form-field-invalid .mat-form-field-ripple {
  background-color: var(--error);
}
.material-form .mat-form-field-label,
.material-form .mat-focused .mat-form-field-label {
  color: var(--primary-text-color);
}
.material-form .mat-form-field-invalid .mat-form-field-label,
.material-form .mat-error {
  color: var(--error-material-label);
}
.material-form .mat-button {
  background-color: var(--disabled-button);
}
.material-form .mat-button:not([disabled]) {
  background-color: var(--main-color);
}
.material-form .mat-button-wrapper {
  color: var(--primary-text-color);
}
.material-form .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-inner-circle {
  background-color: var(--main-color)
}
.material-form .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: var(--main-color)
}
.material-form .mat-checkbox .mat-checkbox-frame {
  border-color: var(--main-color)
}
.material-form .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: var(--main-color);
}
.material-form .mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
   background-color:  var(--main-color);
 }
.material-form .mat-checkbox-input .cdk-visually-hidden {
  background-color: yellow;
}
