<div class="authentication-form-wrapper ">
    <form [formGroup]="registerForm" class="material-form authentication-form">
      <div>
        <mat-form-field>
          <input matInput formControlName="username" placeholder="Nazwa użytkownika">
          <mat-error *ngIf="registerForm.get('username').hasError('required')">
            Nazwa użytkownika jest wymagana
          </mat-error>
          <mat-error *ngIf="registerForm.get('username').hasError('minlength')">
            Nazwa użytkownika musi zawierać co najmniej {{minUsernameLength}} znaków.
          </mat-error>
          <mat-error *ngIf="registerForm.get('username').hasError('maxlength')">
            Nazwa użytkownika może zawierać maksymalnie {{maxUsernameLength}} znaków.
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput email formControlName="email" placeholder="Email">
          <mat-error *ngIf="registerForm.get('email').hasError('required')">
            Email jest wymagany.
          </mat-error>
          <mat-error *ngIf="registerForm.get('email').hasError('email')">
            Podaj prawidłowy adres email.
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput formControlName="password" type="password" placeholder="Hasło" >

          <mat-error *ngIf="registerForm.get('password').hasError('required')">
            Hasło jest wymagane
          </mat-error>
          <mat-error *ngIf="registerForm.get('password').hasError('minlength')">
            Hasło musi zawierać co najmniej {{minPasswordLength}} znaków.
          </mat-error>
          <mat-error *ngIf="registerForm.get('password').hasError('maxlength')">
            Hasło może zawierać maksymalnie {{maxPasswordLength}} znaków.
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput formControlName="confirmPassword" type="password"
                 placeholder="Potwierdź hasło" [errorStateMatcher]="errorMatcher">

          <mat-error *ngIf="registerForm.get('confirmPassword').hasError('required')">
            Musisz potwierdzić hasło
          </mat-error>
          <mat-error
                     *ngIf="registerForm.hasError('matchPassword')">
            Hasła są różne
          </mat-error>
        </mat-form-field>
      </div>
      <div class="authentication-form-button">
        <button mat-button
                [disabled]="registerForm.invalid || registerForm.errors || getProcessingRegistration()"
                type="submit" (click)="register()"
                >Zarejestruj</button>
      </div>

    </form>
</div>
