/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
:root {
  --background-primary-color: rgb(210, 210, 210);

--background-secondary-color: rgb(150, 150, 150);
--background-secondary-color-hover: darkgrey;

--primary-text-color: black;
--secondary-text-color: white;

--logo-color: rgb(255, 0, 144);
--main-color: green;
--pagination-button: rgb(121, 121, 121);
--pagination-selected-button: rgb(81, 101, 51);

--disabled-button: rgb(129, 129, 129);
--error: red;
--error-material-label: rgb(244, 67, 54);
}
body {
  background-color: var(--background-primary-color);
  color: var(--primary-text-color);
}
.error-message {
  background-color: var(--error);
  color: var(--primary-text-color);
  font-size: 20px;
  padding: 5px;
}
.text-button {
  margin: 0px 10px;
  float: right;
}
.radius-border {
  border: 1px var(--primary-text-color) solid;
  border-radius: 20px;
  padding: 20px;
  margin: 15px 10px;
}
hr {
  border-color: var(--main-color);
}
