/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root {
  --background-primary-color: rgb(180, 180, 190);

  --header-background-color: rgb(120, 120, 130);
  --header-background-color-hover: darkgrey;

  --background-secondary-color: rgb(210, 210, 210);

  --primary-text-color: black;
  --secondary-text-color: white;

  --logo-color: rgb(200, 0, 144);
  --main-color: rgb(0, 150, 0);
  --pagination-button: rgb(121, 121, 121);
  --pagination-selected-button: rgb(81, 101, 51);

  --disabled-button: rgb(129, 129, 129);
  --error: red;
  --error-material-label: rgb(200, 0, 0);
}

body {
  background-color: var(--background-primary-color);
  color: var(--primary-text-color);
}

.error-message {
  background-color: var(--error);
  color: var(--primary-text-color);
  font-size: 20px;
  padding: 5px;
}

.text-button {
  margin: 0px 10px;
  float: right;
}

.radius-border {
  border: 1px var(--primary-text-color) solid;
  border-radius: 20px;
  padding: 20px;
  margin: 15px 10px;
}

hr {
  border-color: var(--main-color);
}

.center {
  text-align: center;
}

.margin-top {
  margin-top: 40px;
}

.main-editor-button {
  height: 50px;
  width: 200px;
  margin: 0px 10px;
}

.main-editor-button:hover {
  background-color: var(--background-secondary-color-hover)
}

.main-editor-button:focus {
  outline: 0;
}

.main-editor-button-delete {
  background-color: var(--error-material-label);
  height: 50px;
  width: 200px;
  margin: 0px 10px;
}

.main-editor-button-delete:hover {
  background-color: var(--error)
}

.main-editor-button-delete:focus {
  outline: 0;
}
table {
  width: 100%;
  border: 1px solid var(--secondary-text-color);
}
td {
  text-align: center;
  padding: 5px 20px;
  border: 1px solid var(--secondary-text-color);
}
thead td {
  background-color: var(--background-secondary-color);
  font-weight: bold;
}
