.add-questions-container {
  width: 60%;
  margin: 5px auto;
}
.add-button,
.send-button {
  margin-top: 10px;
}
.single-question-container {
  padding-bottom: 20px;
  margin: 0 auto 20px auto;
  background-color: var(--background-secondary-color);
}
.delete-button {
  padding: 20px 40px 20px 40px;
}
