<div class="center redactor-main-page-container">

  <div class="margin-top">
    <app-all-tests></app-all-tests>
  </div>

  <div class="margin-top">
    <table>
      <thead>
      <tr>
        <td>Imie</td>
        <td>Nazwisko</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.username}}</td>
        <td>{{user.nameSurname}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <!--  <div class="margin-top">
      Wybierz test :
      <select [(ngModel)]="selectedTest">
        <option *ngFor="let t of tests" [value]="t.id">{{t.name}}</option>
      </select>
    </div>

    <div class="margin-top">
      Wybierz użytkownika :
      <select [(ngModel)]="selectedUser" [disabled]=checkIfSelectedTestIsNull()>
        <option *ngFor="let u of users" [value]="u.username">{{u.username}}</option>
      </select>
    </div>-->

  <div class="row material-form full-width-button">
    <div class="margin-top col-md-4">
      <button mat-button class="main-editor-button" (click)=onCheckTestButtonClick()
              type="button">
        Sprawdź testy
      </button>
    </div>
    <div class="margin-top col-md-4">
      <input #fileInput
             data-max-size="2048"
             class="file-input"
             type="file" accept=".csv"
             (change)="onImportTestButtonClick($event)">
      <button mat-button  class="main-editor-button" type="button" (click)="showFileDialog()">
        Importuj test
      </button>
    </div>
    <div class="margin-top col-md-4">
      <button mat-button class="main-editor-button" (click)=onCreateTestButtonClick()
              type="button">
        Stwórz test
      </button>
    </div>
  </div>
</div>
