<div class="center">
  <div>
    Wybierz test :
    <select [(ngModel)]="selectedTest">
      <option *ngFor="let t of tests" [value]="t.id">{{t.name}}</option>
    </select>
  </div>

  <div class="margin-top">
    Wybierz użytkownika :
    <select [(ngModel)]="selectedUser" [disabled]=checkIfSelectedTestIsNull()>
      <option *ngFor="let u of users" [value]="u.username">{{u.username}}</option>
    </select>
  </div>

  <div class="margin-top">
    <button class="main-editor-button" (click)=onCheckTestButtonClick() [disabled]=checkIfSelectedTestAndUserIsNull()
            type="button">Sprawdź test
    </button>
    <button class="main-editor-button" (click)=onEditTestButtonClick() [disabled]=checkIfSelectedTestIsNull()
            type="button">Edytuj test
    </button>
  </div>
  <div class="margin-top">
    <button class="main-editor-button" (click)=onCreateTestButtonClick() type="button">Stwórz test</button>
    <button class="main-editor-button-delete" (click)=onDeleteTestButtonClick() [disabled]=checkIfSelectedTestIsNull()
            type="button">Usuń test
    </button>
  </div>
</div>
