<div class="solved-test-container material-form">
  <table>
    <thead>
    <tr>
      <td>Id</td>
      <td>Nazwa</td>
      <td>Język</td>
      <td>Użytkownik</td>
      <td>Sprawdzony</td>
      <td>Wynik</td>
      <td>Sprawdź</td>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let solution of solutions.solutions">
        <td>{{solution.id}}</td>
        <td>{{solution.test.name}}</td>
        <td>{{solution.test.language}}</td>
        <td>{{solution.user.username}}</td>
        <td><span *ngIf="solution.checked">Tak</span><span *ngIf="!solution.checked">Nie</span></td>
        <td>{{solution.score}}</td>
        <td>
          <button mat-button [routerLink]="['..', checkPage, solution.id]">Sprawdź</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
